 <div class="container">
  <div class="row">
    <!-- Left Side -->
    <div style="background-color: #2887cb;">
<img src="/public/images/signlogup.jpg" class="signlogimage" alt="water">
    </div>
  
    <!-- Right Side -->
    <mat-card class="mt-1" style="align-items: center;color: #35a849;border: 3px solid #2887cb;">
      <p class="fs-2 fw-5 mt-1" style="color: #2887cb;"> Welcome to S.A Waterplant </p>
      <p class="fs-6 ac" style="color: #2887cb;"> Don't Have an Account ?
        <a class="link-offset-2 link-underline link-underline-opacity-0" [routerLink]="'/signup'">Sign up</a>
    </p>
    
  <h2>Login</h2>
<form [formGroup]="loginform" class="ps-2" (ngSubmit)="onSubmit()">

  <!-- Email -->
  <mat-form-field appearance="outline" class="ps-5" style="width: 87%;">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="Email" formControlName="email" required />
    <mat-error *ngIf="loginform.get('email')?.invalid && loginform.get('email')?.touched">
      Enter a valid email (e.g., examplegmail.com)
    </mat-error>
  </mat-form-field>

  <!-- Password -->
  <mat-form-field class="mt-1 ps-5" style="width: 87%;" appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" required />
    <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
      <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="loginform.get('password')?.invalid && loginform.get('password')?.touched">
      Password must be strong and include special characters like %, *, !
    </mat-error>
  </mat-form-field>

  <!-- Buttons -->
  <div class="buttons">
    <button class="mb-3 me-3" mat-raised-button color="primary" type="submit" [disabled]="loginform.invalid">
      Submit
    </button>
    <button class="mb-3 me-5" mat-button color="warn" type="button" (click)="loginform.reset()">
      Cancel
    </button>
  </div>
</form></mat-card></div></div>