.jcc {
    justify-content: center;
}

.ac {
    color: rgb(194, 192, 192);
}

.fontw {
    font-weight: 100px;
    font-size: large;
}

.br {
    border-radius: 80px;
}

.je {
    justify-content: end;
}

.bi {
    
    background-color: #f8fcff;
}
.bc{background-color: white;}
.bbg{background-color: rgb(97, 97, 248);}
.container {
    display: flex;
    height: 100vh;
  }
  
  .left {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f4f4f4;
  }
  
  .left .logo {
    /* margin */
    width: 150px;
  }
  

  .mat-mdc-text-field--outlined .mat-mdc-text-field-wrapper {
    border-top-left-radius: 50px !important;
    border-top-right-radius:50px ;
    border-bottom-right-radius:50px ;
    border-bottom-left-radius:50px ;
  }
  
  
  .right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  form {
    width: 100%;
  }
  
  .name-fields {
    display: flex;
    gap: 10px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    margin-right: 25px;
  }

  .holbtn{
    background-color: white;
    color: brown;
}  
.holbtn2{
    color:brown;
    background-color: white;
}  
.border.border-dashed {
    border-style: dashed !important;
}

.avatar.avatar-xxl {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 1.5rem;
}
.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.rounded-circle {
    border-radius: 50% !important;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  mat-form-field{
    background-color: white;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: white ;
}