<h2>My Orders</h2>
<section class="container">
  <div fxLayout="column" fxLayoutAlign="start stretch">
    <!-- Filter Part -->
    <mat-form-field class="filter-input">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
      <!-- Scrollable Table Container -->
 <div class="table-container mat-elevation-z8">
    <div class="table-responsive">
<table mat-table [dataSource]="dataSource" matSort>

  <!-- Name Column -->
  <ng-container matColumnDef="name" sticky>
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let customer"> {{customer.name}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let customer"> {{customer.email}} </td>
  </ng-container>

  <!-- Phone Column -->
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Phone </th>
    <td mat-cell *matCellDef="let customer"> {{customer.phone}} </td>
  </ng-container>

  <!-- Phone Column -->
  <ng-container matColumnDef="delivery_date">
    <th mat-header-cell *matHeaderCellDef> Delivery </th>
    <td mat-cell *matCellDef="let customer"> {{customer.delivery_date}} </td>
  </ng-container>

  <!-- Phone Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Phone </th>
    <td mat-cell *matCellDef="let customer"> {{customer.status}} </td>
  </ng-container>

 <!-- Phone Column -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> address </th>
    <td mat-cell *matCellDef="let customer"> {{customer.address}} </td>
  </ng-container>

  
 <!-- Phone Column -->
  <ng-container matColumnDef="customer_type">
    <th mat-header-cell *matHeaderCellDef> customer_type </th>
    <td mat-cell *matCellDef="let customer"> {{customer.customer_type}} </td>
  </ng-container>

 <!-- Phone Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> category </th>
    <td mat-cell *matCellDef="let customer"> {{customer.category}} </td>
  </ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <!-- No Data Row -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="7">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
</section>
