 <div class="container text-center mb-2">
        <div>
          <h2 class="my-2" style="color: rgb(17, 17, 97);">Memberships</h2>
         <span style="color: rgb(9, 166, 187);font-size: large;">We Have Affordable Memberships For Our Customers</span></div>
  </div>
<section class="col-md-12 d-flex">
  <div class="row">
   <div class="col-md-3 p-2">
<mat-card class="example-card " appearance="outlined">
  <mat-card-header>
    <mat-card-title>Daily Booking</mat-card-title>
    <mat-card-subtitle>Daily On-Order Supply</mat-card-subtitle>
  </mat-card-header>
  <img  src="../public/images/bottle.jpg" width="100%" class="p-3" alt="Photo of a water can ">
  <mat-card-content>
    <mat-card-subtitle>For Residential/Commercial Purposes</mat-card-subtitle>
    <p>Perfect for homes and small offices with dispensers.</p>
  </mat-card-content>
  <mat-card-actions style="justify-content: space-between;">
    <mat-card-title  >₹ 20.0/-</mat-card-title>
    <button class="button1 ps-2" >Order</button>
  </mat-card-actions>
</mat-card></div>
 <div class="col-md-3 p-2">
<mat-card class="example-card " appearance="outlined">
  <mat-card-header>
    <mat-card-title>Weekly Booking</mat-card-title>
    <mat-card-subtitle>weekly Supply</mat-card-subtitle>
  </mat-card-header>
  <img  src="../public/images/bottle.jpg" width="100%" class="p-3" alt="Photo of a water can ">
  <mat-card-content>
    <mat-card-subtitle>For Residential/Commercial Purposes</mat-card-subtitle>
    <p>Perfect for homes, offices for time based required.</p>
  </mat-card-content>
  <mat-card-actions style="justify-content: space-between;">
    <mat-card-title  >₹ 250.0/-</mat-card-title>
    <button class="button1 ps-2" >Order</button>
  </mat-card-actions>
</mat-card></div>
 <div class="col-md-3 p-2">
<mat-card class="example-card " appearance="outlined">
  <mat-card-header>
    <mat-card-title>Monthly Booking</mat-card-title>
    <mat-card-subtitle>Monthly Supply</mat-card-subtitle>
  </mat-card-header>
  <img  src="../public/images/bottle.jpg" width="100%" class="p-3" alt="Photo of a water can ">
  <mat-card-content>
    <mat-card-subtitle>For Residential/Commercial Purposes</mat-card-subtitle>
    <p>Perfect for homes, offices for time based required.</p>
  </mat-card-content>
  <mat-card-actions style="justify-content: space-between;">
    <mat-card-title  >₹ 250.0/-</mat-card-title>
    <button class="button1 ps-2" >Order</button>
  </mat-card-actions>
</mat-card></div>
 <div class="col-md-3 p-2">
<mat-card class="example-card " appearance="outlined">
  <mat-card-header>
    <mat-card-title>Party Booking</mat-card-title>
    <mat-card-subtitle>Weddings/festivals Supply</mat-card-subtitle>
  </mat-card-header>
  <img  src="../public/images/bottle.jpg" width="100%" class="p-3" alt="Photo of a water can ">
  <mat-card-content>
    <mat-card-subtitle>For Weddings, Festivals, Events Purposes</mat-card-subtitle>
    <p>Perfect for Weddings,events in homes or offices.</p>
  </mat-card-content>
  <mat-card-actions style="justify-content: space-between;">
    <mat-card-title  >₹ 250.0/-</mat-card-title>
    <button class="button1 ps-2" >Order</button>
  </mat-card-actions>
</mat-card></div>
  </div></section>